.home-container{
    padding: 20px 11px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-top-container{
    border-radius: 10px;
    background-color: #00285F;
    height: 350px;
    margin-top: 50px;
}

.home-top-container img {
    width: 244px;
    height: 146px;
    margin-top: 52px;
}

.home-top-container h1 {
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    padding: 0 21px;
} 

.home-top-container p {  
    color: #fff;
    font-size: 12px;
    margin: 10px 48px;
}

.home-botton-container {
    text-align: center;
    border-radius: 10px;
    background-color: #EDEDED;
    padding: 27px 37px;
    margin-top: 21px;
}

.home-botton-container p{
    color: #585858;
    font-size: 18px;
}

.home-botton-container button {
    background-color: #00285F;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    width: 174px;
    height: 40px;
}