.home-container{
    padding: 20px 11px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-top-container{
    border-radius: 10px;
    background-color: #00285F;
    height: 350px;
    margin-top: 50px;
}

.home-top-container img {
    width: 244px;
    height: 146px;
    margin-top: 52px;
}

.home-top-container h1 {
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    padding: 0 21px;
} 

.home-top-container p {  
    color: #fff;
    font-size: 12px;
    width: 251px;
    height: 32px;
    margin: auto;
}

.home-botton-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #EDED;
    justify-content: center;
    align-items: center;
    height: 123px;
    margin-top: 20px;
}

.home-botton-container p{
    color: #585858;
    font-size: 18px;
}

.home-botton-container button {
    background-color: #00285F;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    width: 174px;
    height: 40px;
}

@media (min-width: 576px) {
    .home-top-container h1 {
        font-size: 36px;
    } 
    
    .home-top-container p {  
        width: 420px;
        height: 42px;
        font-size: 18px;
    }

    .home-botton-container {
        flex-direction: row;
    }

    .home-botton-container p{
        margin: 10px 10px;
    }
}

@media (min-width: 768px) {
    .home-botton-container { 
        justify-content: start;
        padding-left: 85px;
    }
}