.custom-toggler .navbar-toggler-icon {
    background-image: url("/src/assets/images/HamburguerButton.svg");
}
  
.custom-toggler.navbar-toggler {
    border: none;
    color: #F78B00;
  }  

.nav-logo-text, .nav-logo-text:hover {
    font-weight: bold;
    font-size: 24px;
    padding: 28px 117px 20px 21px;

}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 390px;
    justify-content: space-evenly;
}

.main-nav {
    height: 70px;
}

.main-menu a.active{
    font-weight: bold;
}

@media (min-width: 576px){

  .nav-logo{
      padding-left: 88px;
  }

}

@media (min-width: 768px){

    .navbar-collapse {
        justify-content: flex-end;
        padding-left: 170px;
    }
}

@media (min-width: 992px){
    .navbar-collapse{
        padding-right: 203px;
    }
}